BODY
{   FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
P
{   FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-DECORATION: none
}
B
{   FONT-WEIGHT: bold;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
I
{   FONT-WEIGHT: normal;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
BLOCKQUOTE
{   FONT-SIZE: 12pt;
    COLOR: #241a4f;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
OL
{   FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #a49e9e;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
TH
{   FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #241a4f;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-DECORATION: none
}
TD
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-DECORATION: none;
    FONT-COLOR: #241A4F
}
H1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    COLOR: #000080;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
H2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #0a4e87;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
H3
{   FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #197bbe;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
H4
{   FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #241a4f;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
H5
{   FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #a49e9e;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-DECORATION: none
}
H6
{   FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
HR
{
	size: 1pt;
	COLOR: #CCCCCC
}
A:link
{
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, System
}
A:visited
{
    COLOR: #000080;
    FONT-FAMILY: Verdana, Arial, System
}
A:hover
{
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, System
}
.TextFields
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Arial, Verdana
}
.SubmitButtons
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Arial, Verdana
}
.TableButtons
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Arial, Verdana
}
.TD1
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, System;
    BACKGROUND-COLOR: #c0e0f8;
    BGCOLOR: #CECE9C;
    HLCOLOR: #FFD6D6;
    SLCOLOR: #D6FFFF;
    DRAGCOLOR: #CEFFCE
}
.TD2
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, System;
    BACKGROUND-COLOR: lightgrey;
    BGCOLOR: #7373A3;
    HLCOLOR: #FFD6D6;
    SLCOLOR: #D6FFFF;
    DRAGCOLOR: #CEFFCE
}
.POINT
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, System
}
.SCROLL
{
    BACKGROUND: url(name.gif) white no-repeat;
    COLOR: #000000
}
.HEADING
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-DECORATION: none
}
.menu
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 19pt;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana, Arial, System
}
.brochure
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-DECORATION: none
}
.Users
{
    FONT-WEIGHT: bold;
    COLOR: #197bbe;
    FONT-FAMILY: Verdana, Arial, System
}
.THS
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System
}
.TDH
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, System;
    BACKGROUND-COLOR: #0a4e87;
    BGCOLOR: #CECE9C
}
.tableborder
{
    BORDER-RIGHT: #0a4e87 1px solid;
    BORDER-TOP: #0a4e87 1px solid;
    BORDER-LEFT: #0a4e87 1px solid;
    BORDER-BOTTOM: #0a4e87 1px solid
}
.userforum
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    COLOR: #000080;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, System;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}